h1
{
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  background-image: url("./images/pattern.jpeg");
  text-align: center;
}

h2
{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

h2.brushes
{
  background-color: mediumspringgreen;
}

h2.frames
{
  background-color: lightcoral;
}

h2.paint
{
  background-color: skyblue;
}

.prices
{
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}

p
{
  display: inline;
}
